/angular-java/angular-frontend/node_modules
/angular-java/angular-frontend/dist

/Three-tier-kubernetes-project/Application-Code/frontend/node_modules
/Three-tier-kubernetes-project/Application-Code/frontend/build
